@media (max-width:1000px) {
    body{
      width: auto;
      
    }
    p{
      text-wrap: wrap;
      font-size: 15px;
    }
    .mainloader{
      width: 100%;
      height: 100%;
    }
    nav {
      display: grid;
      width: 100vw;
    }
    #navr{
      padding: 10px;
      justify-content: center;
    }
  
    nav ul {
      margin-right: 0;
    }
  
    .firstcnt {
      display: flex;
      justify-content: start;
    }
  
    .firstcnt p {
      font-size: 15px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
    .secondcnt {
      background: #676b91;
    }
  
    .showmenu,
    .hidemenu {
      display: block;
    }
  
    .menu {
      display: block;
      position: fixed;
      line-height: normal;
      top: -20px;
      width: 70%;
      height: auto;
      background-color: rgb(103 107 145 / 75%);
      border: 2px white solid;
      right: -100%;
      text-align: center;
      padding: 60px 0 60px 0;
      transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      z-index: 1;
      backdrop-filter: blur(5px);
      align-items: center;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    /* #chk:checked~.menu{
      right: 6%;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    } */
    .menu.active{
      right: 0%;
      transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    .conatianer {
      padding: 10px;
      z-index: 2;
      margin: -4px;
    }
    .conatianer.active {
      position: fixed;
      top: 0px;
      right: 0;
      padding: 10px;
      background: none;
      z-index: 2;
      backdrop-filter: blur(1px);
      background: #063247;
    }
    
  
    .menu a {
      display: grid;
      padding: 8px;
      font-size: 25px;
      text-decoration: none;
    }
  
    nav ul li:hover>ul {
      top: 0px;
      opacity: 1;
      visibility: visible;
      display: grid;
      transition: .5s linear;
    }
  
    nav ul li:hover {
      box-shadow: 0 0 15px #23dbdb;
    }
  
    .menu li {
      display: grid;
    }
  
    nav ul ul {
      position: relative;
      top: 0px;
      width: 100%;
      border-top: 3px solid #23dbdb;
      border-bottom: 3px solid #23dbdb;
      background: transparent;
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  
    nav ul ul li {
      width: 100%;
      display: list-item;
      position: relative;
      border: 1px solid #042331;
      border-top: none;
    }
  
    nav ul ul ul {
      position: relative;
      border-top: 1px solid #23dbdb;
      border-bottom: 1px solid #23dbdb;
      top: 0px;
      left: 0px;
    }
  
    nav ul ul ul li {
      position: relative;
      top: 0px;
      left: -45px;
  
    }
  
    nav ul li a {
      background: none;
    }
  
    .menu h2 {
      display: none;
      color: white;
      font-size: 50px;
    }
  
    .imgzm {
      width: 250px;
      height: 250px;
      max-width: 200px;
      max-height: 200px;
      border-radius: 75px;
      border: 1px solid black;
    }
  
    .showmenu {
      /* line-height: 30px;
      font-size: 35px; */
      padding: 5px 5px;
      margin-top: 20px;
      margin: 10px;
      position: absolute;
      left: 10px;
      font-weight: bolder;
      color: white;
      border: 1px solid #8990D7;
      background-color: #8990D7;
      border-radius: 5px;
    }
  
    .hidemenu {
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 50px;
      transform: rotate(90deg);
      color: gray;
    }
    
    .maindetails{
      display: block;
      flex-direction: column;
      margin-top: 10px;
    }
    .firstline{
      display: block;
        flex-direction: column;
        align-items: flex-start;
    }
    .firstline div{
        display: flex;
        align-items: center;
        padding: 2px;
    }
    .cname{
        display: none;
    }
    .shownav{
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    .otnimg{
      position: relative;
      top: -200%;
      width: 20px;
      height: 20px;
    }
    .jet{
      overflow: hidden;
    }
    .archv {
      display: block;
      height: auto;
    }
    .achives .fst h1{
      font-size: 30px;
    }
    .absection{
      flex-direction: column;
      padding: 10px;
    }
    #na#navr .cname a{
      font-size: 15px;
    }
    .showmenu img{
      width: 25px;
      height: 25px;
    }
    .prfl{
      width: auto;
    }
    .prfl button,.prfl p{
      font-size: 20px;
    }
    #prflbtn {
      margin: 0;
    }
    .abouts img{
      width: 300px;
      height: 300px;
    }
    .abouts p{
      font-size: 20px;
    }
    .achives{
      display: flex;
      flex-direction: column;
    }
    .mnachv h1{
      font-size: 60px;
    }

    .solutions .slid img {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
  }
  #reviewbtn img,.btnimgs{
    width: 35px;
  }
  .fvission p,.fmission p{
    font-size: 18px;
  }
  .fvission,.fmission{
    margin-top: 0;
  }
  .review .rew .smrew {
    width: 300px;
    height: 300px;
  }
  .review .rew p{
    font-size: 15px;
  }
  span{
    width: 15px;
    height: 15px;
  }
}


  