

@media (max-width:1000px) {
    body{
      width: fit-content;
    }
    .mainloader{
      width: 100%;
      height: 100%;
    }
    nav {
      display: grid;
      height: 1px;
    }
    #navr{
      padding: 10px;
      justify-content: center;
    }
  
    nav ul {
      margin-right: 0;
    }
  
    .firstcnt {
      display: grid;
      padding: 20px 0;
    }
  
    .firstcnt p {
      font-size: 35px;
    }
  
    .secondcnt {
      background: #676b91;
    }
  
    .showmenu,
    .hidemenu {
      display: block;
    }
  
    .menu {
      display: block;
      position: fixed;
      line-height: normal;
      top: -20px;
      width: 80%;
      height: auto;
      background-color: rgb(103 107 145 / 75%);
      border: 2px white solid;
      right: -100%;
      text-align: center;
      padding: 60px 0 60px 0;
      transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      z-index: 1;
      backdrop-filter: blur(5px);
      align-items: center;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    /* #chk:checked~.menu{
      right: 6%;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    } */
    .menu.active{
      right: 0%;
      transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  
    .conatianer.active {
      position: fixed;
      top: 0px;
      right: 0;
      padding: 10px;
      background: none;
      z-index: 2;
      transition: all 0.2s;
      backdrop-filter: blur(1px);
      padding: 10px 0;
      background: #676b91;
    }
  
    .conatianer {
      display: block;
      padding: 20px;
    }
  
    .menu a {
      display: grid;
      padding: 40px;
      font-size: 40px;
      text-decoration: none;
    }
  
    nav ul li:hover>ul {
      top: 0px;
      opacity: 1;
      visibility: visible;
      display: grid;
      transition: .5s linear;
    }
  
    nav ul li:hover {
      box-shadow: 0 0 15px #23dbdb;
    }
  
    .menu li {
      display: grid;
    }
  
    nav ul ul {
      position: relative;
      top: 0px;
      width: 100%;
      border-top: 3px solid #23dbdb;
      border-bottom: 3px solid #23dbdb;
      background: transparent;
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  
    nav ul ul li {
      width: 100%;
      display: list-item;
      position: relative;
      border: 1px solid #042331;
      border-top: none;
    }
  
    nav ul ul ul {
      position: relative;
      border-top: 1px solid #23dbdb;
      border-bottom: 1px solid #23dbdb;
      top: 0px;
      left: 0px;
    }
  
    nav ul ul ul li {
      position: relative;
      top: 0px;
      left: -45px;
  
    }
  
    nav ul li a {
      background: none;
    }
  
    .menu h2 {
      display: none;
      color: white;
      font-size: 50px;
    }
  
    .imgzm {
      width: 250px;
      height: 250px;
      max-width: 200px;
      max-height: 200px;
      border-radius: 75px;
      border: 1px solid black;
    }
  
    .showmenu {
      line-height: 30px;
      font-size: 35px;
      padding: 10px 10px;
      margin-top: 20px;
      margin: 10px;
      position: absolute;
      left: 10px;
      font-weight: bolder;
      color: white;
      border: 1px solid #8990D7;
      background-color: #8990D7;
      border-radius: 5px;
    }
  
    .hidemenu {
      position: fixed;
      top: 40px;
      right: 65px;
      font-size: 50px;
      transform: rotate(90deg);
      color: gray;
    }
    
    .maindetails{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
    .firstline{
        flex-direction: column;
        align-items: flex-start;
    }
    .firstline div{
        display: flex;
        align-items: center;
        padding: 2px;
    }
    .cname{
        display: none;
    }
    .shownav{
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    .otnimg{
      position: relative;
      top: -130%;
      width: 35px;
      height: 35px;
    }
    .jet{
      overflow: hidden;
    }
    .archv {
      display: block;
      height: auto;
    }
    .fst{
      width: auto;
    }
}


  